html {
    font-size: 62.5%;
  }

  h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
    margin: 10px 0 0;
    text-align: center;
  }

  h2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5rem;
    width: 100%;
    margin: 10px 10px 10px;
    text-align: center;
  }

  form {
    display: flex;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background: #252525;
    border-radius: 4px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  label {
    margin: 10px 0;
    font-size: 1.4rem;
  }
  
  input,
  select,
  textarea {
    margin: 10px 0 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 40%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    transition: all 0.3s;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    background-color: white;
  }
  
  input:focus {
    outline: none;
    border-color: #C59355;
  }
  
  input:placeholder {
    color: #C59355;
  }
  
  button {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    display: inline-block;
    padding: 8px 11px;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    letter-spacing: 2px;
    outline: none;
    background-color: #C59355;
    color: #D8D4D4;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  button:hover {
    background-image: none;
    background-color: #C59355;
    filter: brightness(70%);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
  }
  
  button:disabled {
    background-image: none;
    background-color: #5B5C5E;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #DFDFDF;
    color: rgba(0, 0, 0, 0.1);
    cursor: not-allowed;
  }
  
  .error {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    color: red;
  }
  
  .terms {
    margin-left: auto;
    margin-right: auto;
  }
  
  .terms input {
    text-align: center;
    width: 15px;
    display: inline-flex;
    margin-right: 5px;
  }