.userHomePage {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
}

#userHomePanel {
	position: relative;
	padding: 1em;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: stretch;
	width: 90vw;
	max-width: 1440px;
	height: 90vh;
	flex-grow: 1;
	background-color: #424242cc;
	box-shadow: 0 0 1em #00000088;
	border-radius: 0.5em;
	.userHomeGridItem {
		flex-grow: 1;
	}
}
